{% extends 'layout.html.twig' %}
{% block page_content %}
    <main>
        <section class="signInPage">
            <section class="signInSection">
                <section>
                    <h2>Culture Club</h2>
                    <p>Culture club vous permet d'échanger du contenu cuturel avec des centaines de curieux</p>
                    <p>Nous avons besoin de quelques renseignements pour créer votre profil</p>
                </section>

                <section class="signInFormSection">
                    {{ form_start(userForm, { 'attr' : { 'class':'signInForm'}}) }}
                    {{ form_row(userForm.firstName, { 'attr' : {
                        'class':'signInFormInput'
                    }} ) }}
                    {{ form_row(userForm.familyName, { 'attr' : { 'class':'signInFormInput' }} ) }}
                    {{ form_row(userForm.emailAddress, { 'attr' : {
                        'class':'signInFormInput',
                        'data-container' : 'body',
                        'data-toggle': 'popover',
                        'data-placement' : 'top',
                        'data-content' : 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.'
                    }} ) }}
                    <div>
                        <input type="text" id="mail_confirm"  placeholder="Confirmez votre adresse mail" class="confirm_mail">
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" id="same-email-alert" role="alert">
                        <strong>Oops!</strong> Les deux adresses mail ne sont pas identiques !
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{ form_row(userForm.password) }}
                    {{ form_row(userForm.birthDate, { 'attr' : { 'class':'signInFormInput' }} ) }}
                    {{ form_row(userForm.sex, { 'attr' : { 'class':'signInFormInput' }} ) }}
                    {{ form_row(userForm.save, { 'attr' : { 'class':'btn btn-light' }} ) }}
                    {{ form_end(userForm) }}
                </section>
            </section>
        </section>
    </main>
{% endblock %}
